Aircraft.Test/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49450/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49450/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49450/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Aircraft.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Persist_InputMessage">
    <wsdl:part name="parameters" element="tns:Persist" />
  </wsdl:message>
  <wsdl:message name="IService1_Persist_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="IService1_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Retrieve_InputMessage">
    <wsdl:part name="parameters" element="tns:Retrieve" />
  </wsdl:message>
  <wsdl:message name="IService1_Retrieve_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Persist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Persist" message="tns:IService1_Persist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PersistResponse" message="tns:IService1_Persist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Remove" message="tns:IService1_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoveResponse" message="tns:IService1_Remove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Retrieve">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Retrieve" message="tns:IService1_Retrieve_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RetrieveResponse" message="tns:IService1_Retrieve_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Persist">
      <soap:operation soapAction="http://tempuri.org/IService1/Persist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IService1/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrieve">
      <soap:operation soapAction="http://tempuri.org/IService1/Retrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49450/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>